

<p>
 <!-- <strong>Thank you for owning up to that <%= @confession.confession_text %></strong>-->
  <p id="Random_Answer"></p>
  <p><br><div id="tiny-response">(two snaps and a hey)</div>Peace! You’re forgiven.</p>
  
</p>