



<div id="magic_response_inner">
  <p id="Random_Answer"></p>
  <p><div id="tiny-response">(Shh... it's a secret!)</div>Come see what other's are confessing!</p>
 <!-- <div id="amount-response"><br><p>Giving is part of ForGiving.</p><p>Please donate $<span id="donate-amount"></span> to a foodbank of your choice.</p>-->

          
  </div>

  <br>
  


      <% link_to 'Sneak a Peak!', confessions_path, :id => "confess_submit" %>
      <br>
      <% link_to 'New Confession', root_path, :id => "confess_submit" %>

      
          

</div>



