

  
<div id="outer_confessions">

 <div id="confession_header"><!-- group -->
    <a  href=""><!-- content --><p id="u2915-2">Confessions</p><p id="u2915-14"><span id="u2915-3">F</span><span id="u2915-4">oo</span><span id="u2915-5">d</span><span id="u2915-6">&nbsp;</span><span id="u2915-7">F</span><span id="u2915-8">o</span><span id="u2915-9">r</span><span id="u2915-10">G</span><span id="u2915-11">i</span><span id="u2915-12">v</span><span id="u2915-13">e</span></p></a>
</div>

<div id="main_confessions">

 
    <% @confessions.each do |confession| %>
    
        <li id="confess_line"><%= confession.confession_text %></li>
       
     
    <% end %>


<br>

<span id="confess_submit"> <%= link_to 'New Confession', new_confession_path %> </span>

<br><br>

</div>
  </div>
  
  
<div id="footer_outer">
	<div id="footer_inner">
    <div class="clearfix colelem" id="pu3526"><!-- group -->
     <img class="grpelem" id="u3526" src="/assets/facebook-u3526.png" alt="" width="54" height="61"/><!-- rasterized frame -->
     <img class="grpelem" id="u3524" src="/assets/twitter2-u3524.png" alt="" width="54" height="61"/><!-- rasterized frame -->
     <img class="grpelem" id="u3522" src="/assets/pinterest-u3522.png" alt="" width="54" height="61"/><!-- rasterized frame -->
     <img class="grpelem" id="u3528" src="/assets/google-logo-u3528.png" alt="" width="58" height="65"/><!-- rasterized frame -->
     <img class="grpelem" id="u3518" src="/assets/youtube-u3518.png" alt="" width="54" height="61"/><!-- rasterized frame -->
    </div>
    <a id="u3542" href="http://www.linkedin.com/pub/ryan-handerhan/61/936/10"><!-- image --><img class="block" id="u3542_img" src="/assets/r%20h%20-%20r%20h.png" alt="" width="107" height="21"/></a>
    <div id="pu3563-6"><!-- group -->
     <div  id="u3563-6"><!-- content -->
      <p>TRADEMARKS</p>
      <p>Food Forgive are trademarks owned by RH&amp;RH. Such trademarks may not be used in connection with any products or services that are not controlled by RH&amp;RH, or in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits RH&amp;RH or FoodForGive.com.</p>
     </div>
     <div id="u3564-6"><!-- content -->
      <p id="u3564-2">LIABILITY DISCLAIMER</p>
      <p id="u3564-4"><span id="u3564-3">RH&amp;RH makes no representations or warranties of any kind, express or implied, as to the operation of the site, the information, content, materials or products included on this site. RH&amp;RH will not be liable for any damages arising from use of this site. Ultimately, all readings and advice arising from use of this site are understood to be for entertainment purposes only.</span></p>
     </div>
    </div>
    <div class="verticalspacer"></div>
   </div>
  </div>
  


