
$('#payment-response').html("<p>Thank you, we will be in touch shortly!</p>");
/*$('#payment-response').append("<%= escape_javascript(link_to 'See what others have confessed!', confessions_path)  %>");*/
