


  var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
  
  if( !emailReg.test( $('#payment_text_field_m').val() ) ) {
     $('#payment-response').html("<p>Really?  Please try a legit e-mail...</p>");
  } 
  else if ($('#payment_text_field_m').val() == "")
  {
  	$('#payment-response').html("<p>Really?  Please try a legit e-mail...</p>");
  }
  else {
    $('#payment-response').html('<p class="about_thanks_m_2">Thank you, we will be in touch shortly!</p><br>');
	$('#payment-response').append('<%= escape_javascript(link_to 'See Confessions!', confessions_path, :id => "confess_submit_m")  %><br>');
	new_payment.payment_text_field_m.value="";
  }


