

  
<div id="outer_confessions" class="face">

        <header>
            <h1>
            	<a href="http://www.foodforgive.com"><span><span>Food ForGive<sub>&trade;</sub></span></span></a>
                <span class="end"></span>
                <br class="clear" />
			</h1>
        </header>
        
<div id="main_confessions">

 	<%= paginate @confessions %>
 	
 	<br>
 	
    <% @confessions.each do |confession| %>
    
        <li id="confess_line"><%= confession.confession_text %></li>
       
     
    <% end %>


<br>

 <%= link_to '<span id="confess_submit">New Confession</span>'.html_safe, root_path %>

<br><br>

</div>
  </div>
  

<!-- Footer -->
  
<footer>
        
        
        <%= link_to '<h3>RH&amp;RH</h3>' .html_safe, about_path %>
        <div>
            <h4>Trademarks</h4>
            <p>Food Forgive are trademarks owned by RH&amp;RH. Such trademarks may not be used in connection with any products or services that are not controlled by RH&amp;RH, or in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits RH&amp;RH or FoodForGive.com.</p>
        </div>
        <div>
            <h4>Liability Disclaimer</h4>
            <p>RH&amp;RH makes no representations or warranties of any kind, express or implied, as to the operation of the site, the information, content, materials or products included on this site. RH&amp;RH will not be liable for any damages arising from use of this site. Ultimately, all readings and advice arising from use of this site are understood to be for entertainment purposes only.</p>
			
        </div>
        <br class="clear" />
	
</footer>

  


