
  
<div id="outer_confessions" class="face">
	
<img src="/assets/cherub1_lg.png" class="about_cherub_1">
<img src="/assets/cherub2_lg.png" class="about_cherub_2">
        <header>
            <h1>
            	<a href="http://www.foodforgive.com"><span><span>Food ForGive<sub>&trade;</sub></span></span></a>
                <span class="end"></span>
                <br class="clear" />
			</h1>
        </header>
        



<div id="main_confessions">





<div class="about_column_outer_right">
<div class ="about_column">
<img src = "assets/cherub1.png">
<h5>Rodney Hom - Cofounder of Food ForGive</h5>
<p>Rodney is an Art Director/UX Designer. His food confession is that he likes Wedding Cake, 
	mostly because it's so beautiful and it represents so much happiness, love and hope which is why he 
	thinks it may be so delicious. He also loves film and has won a Student Academy Award. Rodney is very single.
</p>
</div>
</div>

  
    
<div class="about_column_outer_left"> 
<div class ="about_column"> 
<img src = "assets/cherub1.png"> 
<h5>Ryan Handerhan - Cofounder of Food ForGive</h5>
<p>Ryan is a Software Engineer. His food confession is that he likes very cheesy nachos, 
	mostly because he’s never not had fun when cheesy nachos are involved. He also loves to sing broadway 
	showtunes while accompanying himself on the piano. Ryan is very single.</p>
</div>

</div>



<div class="about_column_outer_left">
<div class ="about_column">
<img src = "assets/cherub1.png">
<h5>Raymond Heredia - The Original, Super-fab, Web Developer of Food ForGive</h5>
<p>Raymond is a Web Developer.  His food confession is that he likes pistachio frozen yogurt with
	 cheesecake bites on top, mostly because he crack is too expensive (and whack).  He also loves listening to Yoko Ono.  
	 Raymond is very single.</p></div>
</div>	

<br>
<br>
<br>

 <%= link_to '<span id="confess_submit">New Confession</span>'.html_safe, root_path %>
<br>
<br>

</div>
</div>
  
<!-- Footer -->

<footer>
        
        
        <%= link_to '<h3>RH&amp;RH</h3>' .html_safe, about_path %>
        <div>
            <h4>Trademarks</h4>
            <p>Food Forgive are trademarks owned by RH&amp;RH. Such trademarks may not be used in connection with any products or services that are not controlled by RH&amp;RH, or in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits RH&amp;RH or FoodForGive.com.</p>
        </div>
        <div>
            <h4>Liability Disclaimer</h4>
            <p>RH&amp;RH makes no representations or warranties of any kind, express or implied, as to the operation of the site, the information, content, materials or products included on this site. RH&amp;RH will not be liable for any damages arising from use of this site. Ultimately, all readings and advice arising from use of this site are understood to be for entertainment purposes only.</p>
			
        </div>
        <br class="clear" />
	
</footer>
