.html
{
	background: #7F7F7F url("../images/smallertile.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 1180px;
	min-height: 83px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #F5A2C9;
	padding-bottom: 1917px;
	margin-left: auto;
	margin-right: auto;
}

#u3438-14
{
	z-index: 2;
	width: 296px;
	min-height: 37px;
	background-color: transparent;
	text-align: center;
	color: #662D91;
	line-height: 36px;
	font-size: 30px;
	letter-spacing: 4px;
	font-family: henny-penny, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: -37px;
	left: 20px;
}

#u3438-14:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	margin: -37px -10000px 0px 0px;
}

#u3438-14:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	margin: -37px -10000px 0px 0px;
}

#u3438-14:hover p,#u3438-14:hover span,#u3438-14:active p,#u3438-14:active span
{
	color: #F5A2C9;
	visibility: inherit;
}

#u3438-4
{
	letter-spacing: -4px;
}

#u3438-6
{
	letter-spacing: 0px;
}

#u3438-7
{
	letter-spacing: 3px;
}

#u3438,#u3438-5,#u3438-9
{
	letter-spacing: -1px;
}

#u3438-2,#u3438-8,#u3438-10
{
	letter-spacing: 1px;
}

#u3418
{
	z-index: 16;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -62px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

