div#outer_confessions_m {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top:25px;
    position:relative;
}

.about_cherub_m
{
	height:120px;
	width:85px;
	right: 2%;
	top: 7%;
	z-index: 200;
	position:absolute;
	background: "/assets/cherub2_lg.png";
}

.section_head_m{
		font-size:1.5em !important;	
		font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;	
		text-decoration: underline;
	    color:rgb(96, 57, 19);
	    padding-bottom: 10px;

}

.about_body_m{
	color:rgb(96, 57, 19);
	line-height: 150%;
	padding-bottom: 10px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;	

}

.m_section_bg{
	background: #F8E0F2;
	margin-top: 20px;

}

.section_head_m_2{
		font-size:1.5em !important;	
		font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;	
	    color:#660066;
	    padding-bottom: 10px;

}

.about_body_m_2{
	color:#A366A3;
	line-height: 150%;
	padding-bottom: 10px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;	

}

.about_thanks_m_2{
	color:#A366A3;
	line-height: 150%;
	margin-bottom: 20px;
	padding-top: 10px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;	

}

.m_section_bg_2{
	background: #FFFFCC;
	padding-top: 20px;

}

#confess_submit_m {
	position: relative;
	color:#662D91;
	background-color: #F5A2C9;
	border: 1px solid #F5A2C9;
	border-radius: 7px;
	box-shadow: 4px 4px 2px #888888;
    font-size: 1.5em;
    padding: 0.1.5em;
    width: 90%;
}
#confess_submit_m:hover {
	color:#FFFFFF;
}

#head_m {
    background:#FFFFFF;
	color:#662D91;
	font-family: 'Henny Penny', cursive;
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
}

#head_m a {
	text-decoration:none;
	width:100%;
	font-size:2.5em;
	line-height: 125%;
	background:#FFFFFF;
	color:#662D91;
	padding-left: 2%;
	padding-top: 2%;
	z-index: 10;
}

#spacer_m{
	margin: 20px;
}

#confess_text_field_m, #payment_text_field_m {
	z-index: 120;
	font-size: 0.8em;
	border:1px solid #808285;
	border-radius:5px;
	padding:10px 0;
	-webkit-box-shadow: inset 10px 13px 13px -6px rgba(212,213,215,1);
	-moz-box-shadow: inset 10px 13px 13px -6px rgba(212,213,215,1);
	box-shadow: inset 10px 13px 13px -6px rgba(212,213,215,1);
	width:90%;
	font-family: 'Bubblegum Sans',cursive;
}
#donate_submit_m {
	background-color: #EE0000;
	color:#FFFFFF;
	position: relative;
	color:#662D91;
	border: 1px solid #EE0000;
	border-radius: 7px;
	box-shadow: 4px 4px 2px #888888;
    font-size: 1.5em;
    width: 90%;
    padding: 0.1.5em;
}
#donate_submit_m:hover {
	color:#F5A2C9;
}

#pay_submit_m {
	color:#FFFFFF;
	background-color: #EE0000;
	border: 1px solid #EE0000;
	border-radius: 7px;
	box-shadow: 4px 4px 2px #888888;
    font-size: 0.8em;
    padding: 0.2em;
	cursor:pointer;
}
#pay_submit_m:hover {
	color:#FFFFFF;
	background-color:#F5A2C9;
}

#payment-response{
	line-height: 150%;
	padding-top: 10px;
	padding-bottom: 10px;
}

#form_bg_m {
	text-align: center;
	padding-top: 70px;
	padding-bottom: 25px;
}



#Random_Answer_m {
	font-size: 1.5em;
	line-height: 1.5em;
}
#tiny-response_m {
	font-size: 24px;
	font-family: 'Bubblegum Sans', cursive;
	font-weight: 400;
}
#amount-response_m {
	font-size: 20px;
	font-family: 'Linden Hill', serif;
	color:rgb(96, 57, 19);
	font-weight: 400;
	margin:10px 0;
}
#magic_response_inner_m {
	padding-top: 150px;

}
#magic-response_m {
	font-size: 1.5em;
	font-family: 'Bubblegum Sans', cursive;
	color: #662D91;
	font-weight: 400;
}