.html
{
	background: #7F7F7F url("../images/smallertile.jpg") repeat left top;
}

#page
{
	z-index: 1;
	width: 1180px;
	min-height: 2526.8591615541927px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -75px;
	margin-bottom: 23px;
}

#pu2918
{
	width: 0.01px;
	padding-bottom: 1192px;
	margin-left: 42px;
	position: relative;
}

#u2918
{
	z-index: 33;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 1021px;
	left: 42px;
}

#u2852
{
	z-index: 100;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 155px;
	left: 83px;
}

#u1746
{
	z-index: 104;
	display: block;
	vertical-align: top;
	position: fixed;
	top: -180px;
	left: 356px;
}

#u2830
{
	z-index: 102;
	display: block;
	vertical-align: top;
	position: fixed;
	top: -25px;
	left: 611px;
}

.js #u2852.pre_init,.js #u2830.pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u2924
{
	z-index: 35;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 1021px;
	left: 1042px;
}

.js #u2918.pre_init,.js #u2924.pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#pu2875
{
	width: 0.01px;
	left: -1px;
	top: -1179px;
	margin-bottom: -1179px;
	position: relative;
}

#u2875
{
	z-index: 31;
	width: 1181px;
	position: relative;
	margin-right: -10000px;
	margin-top: 746px;
}

#u2882-14
{
	z-index: 37;
	width: 244px;
	min-height: 52px;
	background-color: transparent;
	text-align: center;
	color: #662D91;
	line-height: 48px;
	font-size: 40px;
	letter-spacing: 4px;
	font-family: henny-penny, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 923px;
	left: 469px;
}

#u2882-14:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 52px;
	margin: 923px -10000px 0px 0px;
}

#u2882-14:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 52px;
	margin: 923px -10000px 0px 0px;
}

#u2882-14:hover p,#u2882-14:hover span,#u2882-14:active p,#u2882-14:active span
{
	color: #F5A2C9;
	visibility: inherit;
}

#u2689
{
	z-index: 51;
	width: 1180px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 80px rgba(127, 127, 127, 0.53);
	-webkit-box-shadow: 0px 0px 80px -1px rgba(127, 127, 127, 0.53);
	box-shadow: 0px 0px 80px rgba(127, 127, 127, 0.53);
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u3562-4
{
	z-index: 53;
	width: 18px;
	min-height: 9px;
	font-size: 5px;
	line-height: 6px;
	font-family: linden-hill, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 949px;
	left: 713px;
}

#u3407-4
{
	z-index: 57;
	width: 452px;
	min-height: 393px;
	background-color: transparent;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	text-align: center;
	color: #7F7F7F;
	line-height: 24px;
	font-size: 19px;
	font-family: linden-hill, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 1001px;
	left: 365px;
}

#tm_span
{
font-size: 8px;
line-height: 10px;
}

#u2502
{
	z-index: 61;
	width: 644px;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 270px;
}

#u2503
{
	z-index: 62;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 54px;
}

#u2505
{
	z-index: 64;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1914
{
	z-index: 66;
	width: 635px;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
	left: 274px;
}

#u1810
{
	z-index: 67;
	width: 529px;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 51px;
}

#u1908
{
	z-index: 69;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u2558
{
	z-index: 71;
	width: 116px;
	-webkit-transform: matrix(0.9925,-0.1219,0.1219,0.9925,-37,9);
	-ms-transform: matrix(0.9925,-0.1219,0.1219,0.9925,-37,9);
	-o-transform: matrix(0.9925,-0.1219,0.1219,0.9925,-37,9);
	transform: matrix(0.9925,-0.1219,0.1219,0.9925,-37,9);
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 67px;
}

#u2564
{
	z-index: 73;
	width: 104px;
	-webkit-transform: matrix(0.9925,-0.1219,0.1219,0.9925,-33,8);
	-ms-transform: matrix(0.9925,-0.1219,0.1219,0.9925,-33,8);
	-o-transform: matrix(0.9925,-0.1219,0.1219,0.9925,-33,8);
	transform: matrix(0.9925,-0.1219,0.1219,0.9925,-33,8);
	position: relative;
	margin-right: -10000px;
	margin-top: 143px;
	left: 168px;
}

#u2567
{
	z-index: 75;
	width: 109px;
	-webkit-transform: matrix(0.9816,0.1908,-0.1908,0.9816,61,-5);
	-ms-transform: matrix(0.9816,0.1908,-0.1908,0.9816,61,-5);
	-o-transform: matrix(0.9816,0.1908,-0.1908,0.9816,61,-5);
	transform: matrix(0.9816,0.1908,-0.1908,0.9816,61,-5);
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 902px;
}

#u3190
{
	z-index: 77;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 431px;
	left: 1061px;
}

#u3228
{
	z-index: 79;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 294px;
	left: 1061px;
}

#u3200
{
	z-index: 81;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 342px;
	left: 1061px;
}

#u3173
{
	z-index: 83;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: 1061px;
}

#u3398
{
	z-index: 85;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 385px;
	left: 1059px;
}

#u3743
{
	z-index: 87;
	width: 81px;
	position: relative;
	margin-right: -10000px;
	margin-top: 403px;
	left: 673px;
}

#u3743_clip
{
	overflow: hidden;
	width: 81px;
	height: 20px;
}

#u3743_img
{
	margin-right: 1px;
	margin-bottom: -1px;
}

#u3568-4
{
	z-index: 89;
	width: 71px;
	min-height: 10px;
	background-color: transparent;
	text-align: center;
	color: #662D91;
	line-height: 12px;
	font-size: 10px;
	letter-spacing: 1px;
	font-family: linden-hill, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 409px;
	left: 678px;
}

#u3568-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	margin: 409px -10000px 0px 0px;
}

#u3568-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u3761
{
	z-index: 93;
	width: 239px;
	height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.09;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=9)";
	filter: alpha(opacity=9);
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 428px;
}

#u1808-6
{
	z-index: 120;
	width: 239px;
	min-height: 23px;
	background-color: transparent;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	text-align: center;
	color: #662D91;
	line-height: 23px;
	font-size: 19px;
	font-family: bubblegum-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -100em;
	margin-top: 16em;
	left: 22.5em;
}

#confess_text_field
{
	z-index: 120;
	width: 239px;
	height: 23px;
	font-size: 17px;
	border:1px solid black;
	position: relative;
	width: 100%;

}

#confess_field
{
	padding-top: 4em;
}

#confess_submit
{
	position: relative;
	color:#662D91;
	background-color:#F5A2C9;
	border:0.2em solid #F5A2C9;
	-moz-border-radius: 15px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #888888;
    font-size: 0.8em;
    padding: 0.2em;
}

#confess_submit:hover
{
	position: relative;
	color:#FFFFFF;
	background-color:#F5A2C9;
	border:0.2em solid #F5A2C9;
	-moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 0.8em;
    padding: 0.2em;
}

#stripe-button
{
	z-index: 200;
}

#confess_submit:active
{
  box-shadow: 0px 0px 0px #888888;
}



#magic-response
{
	position: relative;
	left:2em;
	/*line-height: 23px;*/
	font-size: 23px;
	font-family: bubblegum-sans, sans-serif;
	font-weight: 400;
}

#Random_Answer
{
	font-size: 28px;
	line-height: 32px;
}

#tiny-response
{
	position: relative;
	/*line-height: 23px;*/
	font-size: 18px;
	font-family: bubblegum-sans, sans-serif;
	font-weight: 400;
}
#amount-response
{
	position: relative;
	font-size: 19px;
	font-family: linden-hill, sans-serif;
	color: #7F7F7F;
	font-weight: 400;
}

#magic-fail
{
	position: relative;
	left:2em;
}

/*
#u1808-6:hover
{
	background-color: transparent;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=11)";
	filter: alpha(opacity=11);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin-right: -100em;
	margin-top: 21em;
	left: 22.5em;
}



#u1808-6:active
{
	background-color: transparent;
	opacity: 0.11;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=11)";
	filter: alpha(opacity=11);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 405px -10000px 0px 0px;
}

#u1808-6:active p,#u1808-6:active span
{
	visibility: hidden;/* 100% transparent text is hidden 
}
*/
#u1748
{
	z-index: 106;
	width: 215px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 483px;
}

#u2567_img,#u1748_img
{
	padding-bottom: 1px;
}

#u1796
{
	z-index: 108;
	width: 197px;
	-webkit-transform: matrix(-1,0,0,-1,197,19);
	-ms-transform: matrix(-1,0,0,-1,197,19);
	-o-transform: matrix(-1,0,0,-1,197,19);
	transform: matrix(-1,0,0,-1,197,19);
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
	left: 493px;
}

#u1750-14
{
	z-index: 110;
	width: 296px;
	min-height: 37px;
	background-color: transparent;
	text-align: center;
	color: #662D91;
	line-height: 36px;
	font-size: 30px;
	letter-spacing: 4px;
	font-family: henny-penny, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 443px;
}

#u1750-14:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	margin: 41px -10000px 0px 0px;
}

#u1750-14:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 37px;
	margin: 41px -10000px 0px 0px;
}

#u1750-14:hover p,#u1750-14:hover span,#u1750-14:active p,#u1750-14:active span
{
	color: #F5A2C9;
	visibility: inherit;
}

#u2882-4,#u1750-4
{
	letter-spacing: -4px;
}

#u2882-6,#u1750-6
{
	letter-spacing: 0px;
}

#u2882-7,#u1750-7
{
	letter-spacing: 3px;
}

#u2882,#u2882-5,#u2882-9,#u1808-2,#u1750,#u1750-5,#u1750-9
{
	letter-spacing: -1px;
}

#u2882-2,#u2882-8,#u2882-10,#u1750-2,#u1750-8,#u1750-10
{
	letter-spacing: 1px;
}

#home
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 1001px;
}

#about
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 781px;
	left: 1008px;
}

#u3555-4
{
	z-index: 129;
	width: 18px;
	min-height: 9px;
	font-size: 5px;
	line-height: 6px;
	font-family: linden-hill, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 683px;
}

#pu3541-3
{
	width: 0.01px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#u3541-3
{
	z-index: 12;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 369px;
	left: 1097px;
}

#u2855
{
	z-index: 29;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: -5px;
}

#u2822
{
	z-index: 124;
	width: 1180px;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u2822_clip
{
	overflow: hidden;
	width: 1180px;
	height: 828px;
}

#u2822_img
{
	margin: 5px -51px 11px -50px;
}

.js #u2822.pre_init
{
	opacity: 0.67;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=67)";
	filter: alpha(opacity=67);
}

#contact
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 1002px;
}

#pu2908
{
	width: 0.01px;
	padding-bottom: 66px;
	margin-left: 314px;
	top: -43px;
	margin-bottom: -43px;
	position: relative;
}

#u2908
{
	z-index: 133;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 2258px;
	left: 314px;
}

#u2915-16
{
	z-index: 135;
	width: 307px;
	min-height: 32px;
	background-color: transparent;
	opacity: 0.98;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
	filter: alpha(opacity=98);
	text-align: center;
	color: #662D91;
	font-family: bubblegum-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 2269px;
	left: 436px;
}

#u2915-16:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	margin: 0px;
}

#u2915-16:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 32px;
	margin: 0px;
}

#u2915-16:hover p,#u2915-16:hover span,#u2915-16:active p,#u2915-16:active span
{
	color: #F5A2C9;
	visibility: inherit;
}

#u2915-2
{
	font-size: 19px;
	line-height: 23px;
	letter-spacing: 1px;
}

#u2915-14
{
	font-size: 25px;
	line-height: 31px;
}

#u2915-6
{
	letter-spacing: -4px;
	font-family: henny-penny, sans-serif;
	font-weight: 400;
}

#u2915-8
{
	font-family: henny-penny, sans-serif;
	font-weight: 400;
}

#u2915-9
{
	letter-spacing: 3px;
	font-family: henny-penny, sans-serif;
	font-weight: 400;
}

#u2915-3,#u2915-7,#u2915-11
{
	letter-spacing: -1px;
	font-family: henny-penny, sans-serif;
	font-weight: 400;
}

#u2915-4,#u2915-10,#u2915-12
{
	letter-spacing: 1px;
	font-family: henny-penny, sans-serif;
	font-weight: 400;
}

#u2915-5,#u2915-13
{
	letter-spacing: 4px;
	font-family: henny-penny, sans-serif;
	font-weight: 400;
}

#pu3526
{
	width: 0.01px;
	margin-left: 479px;
	top: -9px;
	margin-bottom: -9px;
	position: relative;
}

#u3526
{
	z-index: 8;
	display: block;
	vertical-align: top;
	margin-bottom: -26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u3524
{
	z-index: 6;
	display: block;
	vertical-align: top;
	margin-bottom: -25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 45px;
}

#u3522
{
	z-index: 4;
	display: block;
	vertical-align: top;
	margin-bottom: -25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 91px;
}

#u3528
{
	z-index: 10;
	display: block;
	vertical-align: top;
	margin-bottom: -27px;
	position: relative;
	margin-right: -10000px;
	left: 137px;
}

#u3518
{
	z-index: 2;
	display: block;
	vertical-align: top;
	margin-bottom: -27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 186px;
}

#u3542
{
	z-index: 15;
	width: 111px;
	margin-left: 537px;
	margin-top: 26px;
	position: relative;
}

#u3542_img
{
	padding-left: 4px;
}

#pu3563-6
{
	width: 0.01px;
	margin-left: 58px;
	margin-top: 36px;
	position: relative;
}

#u3563-6
{
	z-index: 17;
	width: 512px;
	min-height: 59px;
	font-size: 10px;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
}

#u3564-6
{
	z-index: 23;
	width: 529px;
	min-height: 68px;
	position: relative;
	margin-right: -10000px;
	left: 528px;
}

#u3564-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3564-2,#u3564-3
{
	font-size: 10px;
	line-height: 13px;
}

body
{
	padding-top: 62px;
	padding-bottom: 96px;
}

#page .verticalspacer
{
	clear: both;
}

