@charset "UTF-8";
/*
	File:		toothache.css
	Author:		Raymond Heredia (rh[at]whwk.me)
	Mod-Author: Ryan Handerhan
	Version:	1.0
	Updated:	April 9, 2014
	
	This is the super-sweet cherub styling.  Swap this file out to change the theme down the road.	
*/
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300|Henny+Penny|Linden+Hill);
@import url(http://fonts.googleapis.com/css?family=Bubblegum+Sans);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(http://fonts.googleapis.com/css?family=Henny+Penny);
/* REFERENCE:
font-family: 'Josefin Sans', sans-serif;
font-family: 'Henny Penny', cursive;
font-family: 'Linden Hill', serif;
font-family: 'Bubblegum Sans', cursive;
*/
/*body:after {
	background:yellow;
	position:absolute;
	padding:5px;
	color: #000;
	bottom:40%;
	font-size:1.5em;
	content:"Undergoing maintenance. Chill.";
	display:block;
	border-top: 3px dashed #000;
	border-bottom: 3px dashed #000;
	float:left;
	width:100%;
	text-align:center;
	transform:rotate(-7deg);
	-ms-transform:rotate(-7deg);
	-webkit-transform:rotate(-7deg);
}*/
.wrapper {
	width:1024px;
	margin:20px auto;
	box-shadow: -1px 18px 28px 0px rgba(0,0,0,0.75);
	border:2px solid #D28BCF;
}
.html {
	background: #7F7F7F url('/assets/yellowTile.png') repeat left top;
}
div#outer_confessions {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top:25px;
    padding-bottom:25px;
    position:relative;
}
div#main_confessions {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 25px;
    padding: 10px;
    text-align:center;
    font-family: 'Bubblegum Sans', cursive;
	font-weight: 400;
	font-size: 20px;
}
div#main_content {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 25px;
    padding: 10px;
    text-align:center;
    font-family: 'Linden Hill', serif;
	font-weight: 400;
	font-size: 20px;
}
#confess_line {
	position: relative;
	color:#662D91;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 15px;
	box-shadow: 4px 4px 2px #888888;
    padding: 0.6em;
    margin-bottom: 2em;
}
#confess_text_field, #payment_text_field {
	z-index: 120;
	font-size: 17px;
	border:1px solid #808285;
	border-radius:5px;
	padding:10px 0;
	-webkit-box-shadow: inset 10px 13px 13px -6px rgba(212,213,215,1);
	-moz-box-shadow: inset 10px 13px 13px -6px rgba(212,213,215,1);
	box-shadow: inset 10px 13px 13px -6px rgba(212,213,215,1);
	width:330px;
	font-family: 'Bubblegum Sans',cursive;
}
#donate_submit {
	background-color: #EE0000;
	color:#FFFFFF;
	position: relative;
	color:#662D91;
	border: 1px solid #EE0000;
	border-radius: 7px;
	box-shadow: 4px 4px 2px #888888;
    font-size: 0.8em;
    padding: 0.2em;
}
#donate_submit:hover {
	color:#F5A2C9;
}
#confess_submit {
	position: relative;
	color:#662D91;
	background-color: #F5A2C9;
	border: 1px solid #F5A2C9;
	border-radius: 7px;
	box-shadow: 4px 4px 2px #888888;
    font-size: 0.8em;
    padding: 0.2em;
}
#confess_submit:hover {
	color:#FFFFFF;
}
#pay_submit {
	color:#FFFFFF;
	background-color: #EE0000;
	border: 1px solid #EE0000;
	border-radius: 7px;
	box-shadow: 4px 4px 2px #888888;
    font-size: 0.8em;
    padding: 0.2em;
	cursor:pointer;
}
#pay_submit:hover {
	color:#FFFFFF;
	background-color:#F5A2C9;
}
#payment-text {
	background-color: transparent;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	text-align: center;
	color: #662D91;
	line-height: 23px;
	font-size: 19px;
	font-family: 'Bubblegum Sans', cursive;
	font-weight: 400;
}
#stripe-button {
	z-index: 200;
}
#confess_submit:active {
	box-shadow: 0px 0px 0px #888888;
}
#magic-fail {
	font-size: 23px;
	font-family: 'Bubblegum Sans', cursive;
	font-weight: 400;
	color: #662D91;
}
#Random_Answer {
	font-size: 28px;
	line-height: 32px;
}
#tiny-response {
	font-size: 18px;
	font-family: 'Bubblegum Sans', cursive;
	font-weight: 400;
}
#amount-response {
	font-size: 1em;
	font-family: 'Linden Hill', serif;
	color: #7F7F7F;
	font-weight: 400;
	margin:10px 0;
}
#magic_response_inner {
	padding-top: 230px;
	width: 40%;
	padding-right: 30%;
	padding-left: 30%;
}
#magic-response {
	font-size: 19px;
	font-family: 'Bubblegum Sans', cursive;
	color: #662D91;
	font-weight: 400;
}
.cherub {
	position:fixed;
	z-index:1;
	background-color:rgba(0,0,0,.3);
}
#cherub1 {
	height:384px;
	width:282px;
	left:40%;
	top:180px;
	background: url('/assets/cherub1_lg.png') no-repeat;
}
#cherub2 {
	height:384px;
	width:282px;
	right:40%;
	top:90px;
	background: url('/assets/cherub2_lg.png') no-repeat;
}


.about_cherub_1
{
	height:192px;
	width:141px;
	left: 1%;
	z-index: 200;
	position:absolute;
	backgound:"/assets/cherub1_lg.png";
}

.about_cherub_2
{
	height:192px;
	width:141px;
	right: 1%;
	z-index: 200;
	position:absolute;
	background: "/assets/cherub2_lg.png";
}

h1 {
	padding:20px 0 0;
	margin:0 auto;
	text-align:center;
	display:block;
	font-family: 'Henny Penny', cursive;
	font-size:1.8em;
	width:280px;
	clear:both;
}
h1 a {
	text-decoration:none;
	display:block;
	margin:0 auto 0 30px;
	width:200px;
	border:2px solid #CCC;
	background:#FFF;
	padding:10px 0;
	color:#662D91;
	float:left;
}
div a {
	text-decoration:none;
}


div .about_column_outer_right
{
	width: 50%;
	float: right;
	padding-top: 4%;
}


div .about_column_outer_left
{
	width: 50%;
	float: left;
	padding-top: 4%;
}

.about_column
{
	width: 80%;
	height: 17em;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 15px;
	box-shadow: 4px 4px 2px #888888;
    padding: 0.6em;
    margin-left: auto;
    margin-right: auto;

}

.about_column p
{
	line-height:1.5em;
	color:#7F7F7F;
	text-align:center;
	font-size:0.8em;
	font-family: 'Linden Hill', serif;
}

.about_column h5
{
	line-height:1.5em;
	color:#000000;
	text-align:center;
	font-size:0.8em;
	font-family: 'Linden Hill', serif;
}

.about_column img
{
	height: 150px;
	width: 115px;
}

h1 a:hover {
	color:#F5A2C9;	
}
h1 a > span {
	background:url('/assets/t_orn.png') no-repeat top center;
	display:block;
	padding:22px 0 0;
}
h1 a > span span {
	background:url('/assets/b_orn.png') no-repeat bottom center;
	display:block;
	padding:0 0 10px;
}
h1 .end {
	width:40px;
	height:90px;
	display:block;
	background:url('/assets/backing.png') no-repeat -10px -22px;
	float:left;
}
.social span {
	display:none;	
}
h2 {
	font-family: 'Henny Penny',cursive;
	font-size:1.8em;
	color:#662D91;
}
h2 span {
	font-size:.75em;
}
footer h3 {
	text-align:center;
	margin:10px 0;
	font-family: 'Josefin Sans', sans-serif;
	font-size:3em;
	color:#662D91;
}
footer a{
		text-decoration:none;
}
h4 {
	text-transform:uppercase;
}
section {
	padding:20px 0;	
}
li {
    list-style-type: none;
}
.face { /* pink radial gradient */
	display:block;
	background: #ffffff; /* Old browsers */	
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjRhMmNhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 1%, #f4a2ca 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#ffffff), color-stop(100%,#f4a2ca)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 1%,#f4a2ca 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ffffff 1%,#f4a2ca 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ffffff 1%,#f4a2ca 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #ffffff 1%,#f4a2ca 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4a2ca',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
.mast {
	padding:0;	
}
.mast_inner {
	margin:0 auto;
	width:100%;
}
.mast form {
	text-align:center;
	margin:0 auto 30px;
	height:570px;
	display:block;
	position:relative;
}
.jist {
	font-size:1.6em !important;	
}
#form_bg {
	background:url('/assets/placeSetting2.png') no-repeat center;
	background-size: contain;
}
.mast form input[type="text"] {
	margin-top:280px;
	text-align:center;
	width:330px;
	font-family: 'Bubblegum Sans', cursive;
}
form input[type="submit"] {
	clear:both;
	padding:5px 10px;
	color:#662D91;
	background:#F5A2C9;
	border-radius:5px;
	font-size:.8rem;
	text-align:center;
	display:block;
	border:none;
	margin:10px auto 0;
	cursor:pointer;
	box-shadow:5px 5px 5px rgba(0,0,0,.5);
	border:1px solid #CCC;
	font-family: 'Bubblegum Sans', cursive;
}
form input[type="submit"]:hover {
	color:#FFF;
}
.layer {
	display:block;
	width:100%;
}
.layer.a {
	background:url('/assets/t_lump.png') repeat-x top;
	padding-top:40px;
}
.layer.b {
	background:url('/assets/b_lump.png') repeat-x bottom;
	padding-bottom:40px;
}
.layer.c {
	background:#f6f3ee;
	padding:20px 0;
}
/* specifically targetting the 2nd panel */
/*.limiter.doubleblock1 { RH: not needed since wrapper introduced 4.14.14
	width:740px;
}*/
.limiter.doubleblock1 .textParent {
	width:68%;
}
.doubleblock1 {
	background:#FFF;
	border:	9px solid #d28bcf;
	padding:2em;
	position:relative;
	display:block;
}
.doubleblock1:before {
	background:none;
	border:4px solid #d28bcf;
	content:"";
	display:block;
	position:absolute;
	top:4px;
	bottom:4px;
	left:4px;
	right:4px;
}
/* specifically targetting the 3rd panel */
/*.limiter.doubleblock2 { RH: not needed since wrapper introduced 4.14.14
	width:900px;
}*/
.limiter.doubleblock2 .textParent {
	width:80%;
}
.doubleblock2 {
	background:#FFF;
	border:	9px solid #d28bcf;
	padding:2em;
	position:relative;
	display:block;
}
.doubleblock2:before {
	background:none;
	border:4px solid #d28bcf;
	content:"";
	display:block;
	position:absolute;
	top:4px;
	bottom:4px;
	left:4px;
	right:4px;
}
.textParent {
	width:80%;
	margin:0 auto;
	display:block;
}
.info {
	padding:40px 0;	
}
.info p, .aux p {
	margin:20px 0;
	line-height:1.5em;
	color:#7F7F7F;
	text-align:center;
	font-size:1.3em;
}
.info {
	background:url('/assets/stripes.png');
	text-align:center;
	font-family: 'Linden Hill', serif;
	color:#7F7F7F;
}
.aux {
	font-family: 'Linden Hill', serif;
	color:#7F7F7F;
	background:url('/assets/patch.png');
	padding:20px 0;
}
.ornamentA {
	height:20px;
	background:url('/assets/dotWRibbon.png') repeat-x top center;
	margin:0 0 15px;
}
.ornamentB {
	height:20px;
	background:url('/assets/ribbon.png') repeat-x top center;
	margin:0 0 15px;
}
.ornamentC {
	height:20px;
	background:url('/assets/dot.png') repeat-x top center;
	margin:0 0 15px;
}
.ornamentD {
	background:url('/assets/yellowTile_20.png') repeat top center;
	margin:0;
	min-height:40px;
	width:100%;
	display:block;
	padding:0;
	border-bottom:20px solid white;
}
.aux form {
	text-align:center;	
}
.aux form input[type="text"] {
	width:50%;
	text-align:center;
}
footer {
	background:#FFF;
	padding:20px;
}
.social {
	text-align:center;	
}
.social li {
	display:inline-block;
}
.social a {
	display:block;
	height:32px;
	width:32px;
	background:url('/assets/social.png') no-repeat;
}
.mast .social {
	margin-top:20px;
}
.aux .social {
	margin:20px 0 10px;	
}
.aux h2, .info h2 {
	background:url('/assets/nameRibbon.png') no-repeat top center;
	width:352px;
	padding:20px 30px;
	height:55px;
	margin:0 auto;
	display:block;
	text-align:center;
}
.TL {
	display:block;
	background:url('/assets/daisy.png') no-repeat top left;
}
.TR {
	display:block;
	background:url('/assets/daisy.png') no-repeat top right;
}
.BR {
	display:block;
	background:url('/assets/daisy.png') no-repeat bottom right;
}
.BL {
	display:block;
	background:url('/assets/daisy.png') no-repeat bottom left;
}
.social li + li {
	margin-left:10px;	
}
.info .social {
	margin-top:15px;	
}
footer div {
	width:43%;
	float:left;
	padding:10px 3%;
	font-size:.625rem;
}
footer p {
	line-height:1.3em;
	font-family:Verdana, Geneva, sans-serif;
}
br.clear, br {
	clear:both;
	height:0;
	visibility:hidden;
	color:transparent;
	display:block;	
}
br.clear:after {
	content:".";	
}
sup, sub {
	font-size:.625rem;
	font-family:Verdana, Geneva, sans-serif;
	color:#000;	
}
sup {
	vertical-align:super;	
}
sub {
	vertical-align: inherit;	
}
.facebook {background-position:0 0 !important;}
.twitter {background-position:-42px 0 !important;}
.pinterest {background-position:-84px 0 !important;}
.google {background-position:-126px 0 !important;}
.youtube {background-position:-168px 0 !important;}
.limiter {
	width:85%;
	display:block;
	margin:0 auto;
}
	
/*Mobile */
@media screen and (max-width: 950px){
	
	.about_column_outer_left,
	.about_column_outer_right
	{
		width: 100% !important;
		height: 100% !important;
		float: none;
		clear: both;
		position: relative;
	}
	

	.about_cherub_1,
	.about_cherub_2
	{
		height:1px;
		width:1px;
	}
	
	.about_column{
		height: 100% !important;
	}

	
}
	
	