@-ms-viewport
{
	width: 760px;
}

@-webkit-viewport
{
	width: 760px;
}

@-o-viewport
{
	width: 760px;
}

@-moz-viewport
{
	width: 760px;
}

@viewport
{
	width: 760px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 0px;
	min-height: 0px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-top: 128px;
	padding-right: 760px;
	padding-bottom: 896px;
}

#page .verticalspacer
{
	clear: both;
}

